# Dependências
node_modules/
package-lock.json

# Ambiente
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# Sistema Operacional
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Testes
test-results/
screenshots/
selenium-debug.log

# Build
dist/
build/
*.deb
google-chrome-stable_current_amd64.deb
*.deb
google-chrome-stable_current_amd64.deb
